<% var data = {
title: "BackHero",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="banner">
    <div class="banner-block">
	<div class="content">
	    <div class="inner">
		<h3>BackHero X</h3>
		<p>Posture Corrector</p>
	    </div>
	</div>
	<div class="picture">
	    <picture>
		<source  type="image/png"  media="(max-width: 767px)" srcset="./img/back-hero-sm.png, ./img/back-hero.png 2x">
		<source  type="image/png"  media="(min-width: 768px)" srcset="./img/back-hero.png">
		<img src="./img/back-hero.png" alt="Back Hero" />
	    </picture>
	</div>
    </div>
</section>
<section class="content-section">
    <div class="container">
	<div class="text-center">
	    <h2>Introducing A Back Brace</h2>
	    <p class="sub-heading">That Gives You Perfect Posture & Ideal Spinal Alignment</p>
	</div>
	<div class="row">
	    <div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	    <div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	</div>
    </div>
</section>
<section class="blue-rounded">
    <div class="container">
	<div class="row">
	    <div class="col-heading">
		<p class="sub-heading">Backhero X</p>
		<h2>Vibration Reminder</h2>
	    </div>
	    <div class="col-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	    <div class="col-image">
		<img src="./img/vibration-reminder.png" alt="Vibration Reminder" />
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>