<% var data = {
title: "BackHero",
ver: "1.05",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="banner">
    <div class="banner-block">
	<div class="content">
	    <div class="inner">
		<h3>BackHero X</h3>
		<p>Posture Corrector</p>
	    </div>
	</div>
	<div class="picture">
	    <picture>
		<source  type="image/png"  media="(max-width: 767px)" srcset="./img/back-hero-sm.png, ./img/back-hero.png 2x">
		<source  type="image/png"  media="(min-width: 768px)" srcset="./img/back-hero.png">
		<img src="./img/back-hero.png" alt="Back Hero" />
	    </picture>
	</div>
    </div>
</section>
<section class="content-section">
    <div class="container">
	<div class="text-center">
	    <h2 class="mb-0">Introducing A Back Brace</h2>
	    <p class="sub-heading">That Gives You Perfect Posture & Ideal Spinal Alignment</p>
	</div>
	<div class="row">
	    <div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	    <div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor    incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	</div>
    </div>
</section>
<section class="blue-rounded">
    <div class="container">
	<div class="row">
	    <div class="col-heading">
		<p class="sub-heading">Backhero X</p>
		<h2>Vibration Reminder</h2>
	    </div>
	    <div class="col-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum su spendisse ultrices gravida. Risus commodo viverra maec  enas accumsan lacus vel facilisis. </p>
	    </div>
	    <div class="col-image">
		<img src="./img/vibration-reminder.png" alt="Vibration Reminder" />
	    </div>
	</div>
    </div>
</section>
<section class="content-section benefits">
    <div class="container">
	    <h2 class="text-center mb-2">Benefits</h2>
	<div class="row">
	    <div class="benefit-box bg-blue-1">
		<img src="./img/benefit-1.png" srcset="./img/benefit-1-x2.png 2x" alt="Easy to wear">
		<h5>Easy to wear</h5>
		<p>Wear it all day to retrain your stance - it is almost invisible when worn under a shirt</p>
	    </div>
	    <div class="benefit-box bg-blue-2">
		<img src="./img/benefit-2.png" srcset="./img/benefit-2-x2.png 2x" alt="Align you">
		<h5>Align you</h5>
		<p>Align your shoulders, spine, and upper back</p>
	    </div>
	    <div class="benefit-box bg-blue-3">
		<img src="./img/benefit-3.png" srcset="./img/benefit-3-x2.png 2x" alt="Easy to wear">
		<h5>Easy to Use</h5>
		<p>The posture trainer will automatically identify it and release vibration to remind you to keep a health posture</p>
	    </div>
	</div>
    </div>
</section>
<section class="content-section shoose-us">
    <div class="container">
	    <h2 class="text-center mb-2">Why Shoose Us</h2>
	<div class="row reverse mb-3">
	    <div class="col-md-6">
		<img src="./uploads/shoose-us-1.jpg" alt="Easy to Use">
	    </div>
	    <div class="col-md-6">
		<h4>Easy to Use</h4>
		<p>Adjustable and wear, erect back and lift chest, hold the switch for 1 second to power on, the posture machine will shake 3 times and record your correct posture. When user has a hunchback, radian of more than 25 degrees. The posture trainer will automatically identify it and release vibration to remind you to keep a health posture. After 30 days using, a good habit built.</p>
	    </div>
	</div>
	<div class="row mb-3">
	    <div class="col-md-6">
		<img src="./uploads/shoose-us-2.jpg" alt="Health Product">
	    </div>
	    <div class="col-md-6">
		<h4>Health Product</h4>
		<p>Healthy ABS material and skin care cloth belt. Adjustable invisible brace fashion design, universal for 5-35 years old. We especially recommend it to people from 5 to 16 years old, the younger you are the better your habits are. Back health benefits and build confidence.</p>
	    </div>
	</div>
	<div class="row reverse">
	    <div class="col-md-6">
		<img src="./uploads/shoose-us-3.jpg" alt="Good Desingn">
	    </div>
	    <div class="col-md-6">
		<h4>Good Desingn</h4>
		<p>This posture corrector adopts ergonomic 8-character design, fits the human body curve and opens the shoulder comfortably when you wear it. It can do real-time angle monitoring through the intelligent chip, and the hunchback sensor automatically perceives and vibrates to remind you achieve the correction body posture. Bid farewell to the traditional compulsory correction.</p>
	    </div>
	</div>
    </div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>