html{
    font-size: 16px;
}
.bg-blue-1{
    background-color: #00a8ec;
    color: #fff;
}
.bg-blue-2{
    background-color: #4cc0ee;
    color: #fff;
}
.bg-blue-3{
    background-color: #00a3d2;
    color: #fff;
}
.mb-0{
    margin-bottom: 0!important;
}
.mb-1{
    margin-bottom: 1rem!important;
}
.mb-2{
    margin-bottom: 2rem!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}
.text-center{
    text-align: center;
}
.site-header{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 15px;

    .inner-wrap{
	max-width: 1700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
    }
    .nav{
	ul{
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	li{
	    display: inline-block;
	    a{
		font-family: $font-family-secondary;
		text-transform: uppercase;
		color: $black;
		font-size: rem(26px);
	    }
	    &:hover,
		&.active{
		a{
		    color: $blue;
		}
	    }
	}
	li+li{
	    margin-left: 7px;
	}
    }
}
.banner{
    background-size: cover;
    background-position: left top;
    min-height: 93vw;
    background-image: url(../img/main-banner-sm.jpg);
    position: relative;
    z-index: 1;
}
.banner-block{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    .inner{
	margin-top: 2rem;
	padding-left: rem(40px);
	border-left: rem(7px) solid #00a8ec;
    }
    h3{
	margin-bottom: 0;
	text-transform: uppercase;
    }
    p{
	margin: 0;
    }
}
.content-section{
    padding: 3rem 0;
}
.blue-rounded{
    padding-top: rem(70px);
    padding-bottom: rem(70px);
    background-color: #e8f7fd;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: rem(50px);
    .col-content{

    }
    .sub-heading{
	margin-bottom: 0;
	color: #000;
	text-transform: uppercase;
    }
    h2{
	line-height: 1;
    }
    img{
	margin-top: 2rem;
    }
}
.benefits{
    background-color: #e2f9fe;
    background-image: url(../img/benefits-bg-sm.jpg);
    background-size: cover;
    background-position: top;
    margin-top: 2rem;
    .row{
	justify-content: space-around;
    }
}
.benefit-box{
    max-width: rem(340px);
    flex: 0 0 100%;
    border-radius: 9px;
    margin: 0 15px;
    padding: rem(40px 22px);
    text-align: center;
    margin-bottom:2rem;
    h5{
	margin-top: 1.5rem;
	color: #fff;
	text-transform: uppercase;
    }
    p{
	font-size: rem(17px);
    }
}
.shoose-us{
    background-color: #e2f9fe;
    background-image: url(../img/shoose-us-sm.jpg);
    background-size: cover;
    background-position: top;
    h4{

    }
    .row{
	justify-content: space-between;
    }
    .content{
	max-width: rem(510px);
    }
}