@media (min-width: 576px) {
    .container {
	max-width: 540px;
    }
}
@media (min-width: 768px){
    html{
	font-size: 17px;
    }
    .container {
	max-width: 720px;
    }
    .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
    .banner{
	min-height: rem(555px);
	background-image: url(../img/main-banner-md.jpg);
    }
}
@media (min-width: 992px){
    html{
	font-size: 19px;
    }
    .container {
	max-width: 960px;
    }
    .site-header{
	padding-top: rem(50px);
	.nav{
	    li{
		a{
		    font-size: rem(36px);
		}
	    }
	    li+li{
		margin-left: rem(70px);
	    }
	}
    }
}
@media (min-width: 1280px){
    html{
	font-size: 21px;
    }
    .container {
	max-width: 1200px;
    }
    .banner{
	min-height: rem(818px);
	background-image: url(../img/main-banner.jpg);
    }
}

