@media (min-width: 576px) {
    .container {
	max-width: 540px;
    }
    .banner-block{
	display: flex;
	.inner{
	    position: relative;
	    right: -25%;
	}
    }
}
@media (min-width: 768px){
    html{
	font-size: 17px;
    }
    h1, .h1 { font-size:$h1-font-size-lg; }
    h2, .h2 { font-size:$h2-font-size-lg; }
    h3, .h3 { font-size:$h3-font-size-lg; }
    h4, .h4 { font-size:$h4-font-size-lg; }
    .container {
	max-width: 720px;
    }
    .col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
    .logo-img{
	width: rem(300px);
    }
    .banner{
	background-position: 50%;
	min-height: 555px;
	background-image: url(../img/main-banner-md.jpg);
    }
    .banner-block{
	.picture{
	    max-width: 45vw;
	}
    }
}
@media (min-width: 992px){
    html{
	font-size: 18px;
    }
    .container {
	max-width: 960px;
    }
    .site-header{
	padding-top: rem(50px);
	.nav{
	    li{
		a{
		    font-size: rem(36px);
		}
	    }
	    li+li{
		margin-left: rem(70px);
	    }
	}
    }
    .banner-block{
	.picture{
	    max-width: 34vw;
	}
    }
}
@media (min-width: 1280px){
    html{
	font-size: 21px;
    }
    .container {
	max-width: 1200px;
    }
    .banner{
	min-height: rem(818px);
	background-image: url(../img/main-banner.jpg);
    }
}

@media (max-width: 575px){
    .banner-block{
	.content{
	    text-align: center;
	    .inner{
		display: inline-block;
	    }
	}
    }
}