$gray-1: #3d3d3d;
$black: #000000;

$blue: #016aa7;
$green: #0bcb8e;

// Fonts
$font-family-base: 'Open Sans', sans-serif;

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

// Typography
$headings-margin-bottom: 1rem;

$paragraph-margin-bottom: 1rem;

$link-color: $blue;
$link-hover-color: $green;

// Headings
$headings-margin-bottom: 20px;
$headings-font-weight: 600;
$headings-line-height: 1.4;
$headings-color: $gray-1;

$h1-font-size: rem(100px);
$h2-font-size: rem(100px);
$h3-font-size: rem(55px);
$h4-font-size: rem(33px);
$h5-font-size: rem(28px);
$h6-font-size: rem(24px);

// Forms
$label-margin-bottom: 1vw;