$gray-1: #3d3d3d;
$black: #000000;

$blue: #016aa7;
$green: #0bcb8e;

// Fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-secondary: 'Tungsten Rounded', sans-serif;

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

// Typography

$paragraph-margin-bottom: 1rem;

$link-color: $blue;
$link-hover-color: $green;

// Headings
$headings-font-fdamily: $font-family-secondary;
$headings-margin-bottom: 1rem;
$headings-font-weight: 300;
$headings-line-height: 1.1;
$headings-color: $blue;

$h1-font-size: rem(70px);
$h2-font-size: rem(70px);
$h3-font-size: rem(60px);
$h4-font-size: rem(45px);
$h5-font-size: rem(36px);
$h6-font-size: rem(24px);

$h1-font-size-lg: rem(100px);
$h2-font-size-lg: rem(100px);
$h3-font-size-lg: rem(84px);
$h4-font-size-lg: rem(55px);


// Forms
$label-margin-bottom: 1vw;