@function vw-lg($target) {
    $vw-context: (2880*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
@function vh-lg($target) {
    $vw-context: (1800*.01) * 1px;
    @return ($target/$vw-context) * 1vh;
}

@function vw-sm($target) {
    $vw-context: (750*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
@function vh-sm($target) {
    $vw-context: (1393*.01) * 1px;
    @return ($target/$vw-context) * 1vh;
}